<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tax invoice</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div>
		<form action="/generate" method="post">

			<p th:text="'รหัสคู่มือมาตรฐาน : ' + ${manualId}" />
			<p th:text="'เลขที่เอกสาร : ' + ${documentId}" />
			<p th:text="'ชื่อเอกสาร : ' + ${documentName}" />
			<p th:text="'รหัสประเภทเอกสาร : ' + ${documentTypeCode}" />
			<p th:text="'วัน เดือน ปี ที่ออกเอกสาร : ' + ${issueDateTime}" />
			<p th:text="'สาเหตุการออกเอกสาร: ' + ${purpose}" />
			<p th:text="'รหัสสาเหตุการออกเอกสาร : ' + ${purposeCode}" />
			<p th:text="'เลขที่เอกสารสากล: ' + ${globalId}" />
			<p
				th:text="'วันเดือนปีและเวลาที่สร้างเอกสาร : ' + ${creationDateTime}" />
			<br> <input type="submit" value="XML" /> <input type="submit"
				value="JSON" />
		</form>
	</div>
</body>
</html>
