<!DOCTYPE html>
<html>
<head>
<title>Tax invoice</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div>
		<form name="TaxDetail" action="submitForm" method="post">
			<br> รหัสคู่มือมาตรฐาน <input type="text" name="manualId"
				value="" size="35" /> <br> เลขที่เอกสาร <input type="text"
				name="documentId" value="" size="35" /> <br> ชื่อเอกสาร <input
				type="text" name="documentName" value="" size="35" /> <br>
			รหัสประเภทเอกสาร <input type="text" name="documentTypeCode" value=""
				size="35" /> <br> วัน เดือน ปี ที่ออกเอกสาร <br>
			สาเหตุการออกเอกสาร <br> รหัสสาเหตุการออกเอกสาร เลขที่เอกสารสากล
			<br> <br> วันเดือนปีและเวลาที่สร้างเอกสาร <br> <input
				type="submit" value="Next" />
		</form>

	</div>
</body>
</html>
